@charset "utf-8";

@import url('https://fonts.googleapis.com/css?family=PT+Sans|PT+Serif:600,800&display=swap');

// Imports the base variable styles
@import './picnic-6.5.2/src/themes/default/theme';

$picnic-primary: $picnic-black;
$picnic-separation: 1rem;
$picnic-nav-position: relative;
$picnic-nav-sides: $picnic-separation;
$picnic-card-border: 0;

@import './picnic-6.5.2/src/vendor/compass-breakpoint/stylesheets/breakpoint';

// Normalize.css (external library)
@import './picnic-6.5.2/src/plugins/normalize/plugin';

// Generic styles for things like <body>, <a> and others
// It also overwrites normalize.css a bit
@import './picnic-6.5.2/src/plugins/generic/plugin';
//@import './picnic-6.5.2/src/plugins/fontello/plugin';

// Simple elements
//@import './picnic-6.5.2/src/plugins/label/plugin';
//@import './picnic-6.5.2/src/plugins/button/plugin';

// Forms
//@import './picnic-6.5.2/src/plugins/input/plugin';
//@import './picnic-6.5.2/src/plugins/select/plugin';
//@import './picnic-6.5.2/src/plugins/radio/plugin';
//@import './picnic-6.5.2/src/plugins/checkbox/plugin';

// Components
@import './picnic-6.5.2/src/plugins/table/plugin';
@import './picnic-6.5.2/src/plugins/grid/plugin';

// Extra
@import './picnic-6.5.2/src/plugins/nav/plugin';

//@import './picnic-6.5.2/src/plugins/stack/plugin';
@import './picnic-6.5.2/src/plugins/card/plugin';
//@import './picnic-6.5.2/src/plugins/modal/plugin';

//@import './picnic-6.5.2/src/plugins/dropimage/plugin';
//@import './picnic-6.5.2/src/plugins/tabs/plugin';
//@import './picnic-6.5.2/src/plugins/tooltip/plugin';

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  background-image: url("/images/bg.jpg");
  background-size: cover;
  font-family: 'PT Sans', 'Arial', 'Helvetica', sans-serif;
  font-size: 1.25rem;
  font-weight: 600;
}

a:hover {
  text-decoration: underline;
}

nav {
  background-color: transparent;
}

nav a {
  font-size: 1.25em;
  text-transform: lowercase;
}

nav li {
  display: inline-block;
}

nav .brand,
nav .menu {
  float: none;
}

nav .brand {
  font-size: 2.5em;
}

nav .menu {
  top: 0;
  padding-left: 1rem;
}

main {
  max-width: 45em;
  margin: auto;
  padding: $picnic-nav-height $picnic-separation $picnic-separation $picnic-separation;
}

main.landing {
  font-size: 1.25em;
}

footer {
  background-color: transparent;
  padding: $picnic-separation;
}

footer .social {
  text-align: center;
}

.posttranslations {
  width: 100%;
  font-size: 0.75em;
  text-align: right;
  text-transform: lowercase;
  margin-bottom: $picnic-separation;
}

h3.posttranslations-intro {
  display: none;
}

.card {
  background: transparent;
}

.card img {
  width: 100%;
}

.card h3 {
  text-align: center;
  font-size: 1.1em;
}

.card a:hover {
  text-decoration: underline;
}
