@charset "utf-8";

@import url('https://fonts.googleapis.com/css?family=PT+Sans|PT+Serif:600,800&display=swap');


$black: hsl(0, 0%, 0%);

$family-serif: "PT Serif", serif;
$family-sans-serif: "PT Sans", sans-serif;
$text: $black;
$weight-normal: 600;

$navbar-background-color: inherit;
$footer-background-color: inherit;
$card-background-color: inherit;

$subtitle-size: 1.5rem;


@import "./bulma-0.8.0/sass/utilities/_all.sass";
@import "./bulma-0.8.0/sass/base/_all.sass";
@import "./bulma-0.8.0/sass/elements/_all.sass";
@import "./bulma-0.8.0/sass/form/_all.sass";
@import "./bulma-0.8.0/sass/components/_all.sass";
@import "./bulma-0.8.0/sass/grid/_all.sass";
@import "./bulma-0.8.0/sass/layout/_all.sass";


body {
    width: 100vw;
    height: 100vh;
    background-image: url("/images/bg.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

body.landing {
    background: #ffffff;
}

a, a:visited {
    color: hsl(0, 0%, 0%) !important;
    font-weight: 800 !important;
}

a:hover {
    text-decoration: underline;
}

.navbar {
    display: block;
}

.navbar-menu {
    display: flex;
}

.navbar-menu ul {
    display: inline-flex;
}

.navbar-item {
    font-size: 1.2em;
}
