{#  -*- coding: utf-8 -*- #}
{% import 'base_helper.tmpl' as base with context %}
{{ set_locale(lang) }}
<!DOCTYPE html>
<html lang="{{ lang }}">
<head>
{{ base.html_headstart() }}
{% block extra_head %}
{#  Leave this block alone. #}
{% endblock %}
{{ template_hooks['extra_head']() }}
</head>
<body>
    <main>
        {{ post.text() }}
    </main>
    {{ body_end }}
    {{ template_hooks['body_end']() }}
</body>
</html>
