<div>
  <article class="card">
    <a href="${path}">
      <img src="${image}" alt="${name} ${messages('photo', lang)}">
    </a>
    <footer>
      <h3><a href="${path}">${name}</a></h3>
    </footer>
  </article>
</div>
